body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Ephesis", cursive, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 4vmin);
  letter-spacing: 1px;
  background-color: #164e63;
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 1rem 0;
}

.logo {
  width: fit-content;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/link.jpg);
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Place text in the middle of the image */
.hero-text {
  font-family: "Segoe UI";
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.hero-title {
  font-family: "Segoe UI";
  /* font-size: 3.5rem; */
  margin: 0 0 1rem 0;
  font-weight: 200;
  letter-spacing: 5px;
}

.hero-p {
  font-size: 1.8rem;
  font-weight: 200;
  margin: 0 0 5rem 0;
  letter-spacing: 2px;
}
